/* ROOT */
html {
    scroll-behavior: smooth;
}

.hero {
    background-image: url("../images/politeknik-negeri-jember.png");
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.card {
    border-radius: 0;
}

.btn {
    width: 100%;
}

.mb-7{
    margin-bottom: 70px;
}

.text-new-blue {
    color: #0F4C75;
}
.text-new-blue:hover {
    color: #104467;
}

.btn-blue {
    color: white;
    background-color: #0F4C75;
}

.btn-blue:hover {
    color: white;
    background-color: #104467;
}

.btn-blue-active {
    color: white;
    background-color: #104467;
}

.bg-blue {
    background-color: #0F4C75;
}

.btn-white {
    background-color: white;
    color: #0F4C75;
}
.btn-white:hover {
    background-color: #0F4C75;
    color:white;
}

.btn-white-outline {
    border: 1px solid white;
    color:white;
}
.btn-white-outline:hover {
    color:rgb(228, 228, 228);
}

.btn-dark-outline {
    border: 1px solid #5a5c69;
    color:#5a5c69;
}
.btn-dark-outline:hover {
    color:#5a5c69;
}

.transition-ease-in-out {
    transition: ease-in-out 0.3s;
}

/* FORM LAPOR */
.form-lapor {
    margin-top: -430px;
    margin-bottom: 50px;
}
.form-lapor h1 {
    font-size: 30px;
    font-weight: bold;
    color: white;
    max-width: 700px;
    text-align: center;
    letter-spacing: 1px;
    line-height: 45px;
}
.form-lapor hr {
    width: 100px;
    border: 2px solid white;
    margin-top : 30px;
    margin-bottom: 60px;
}
.form-lapor .card .card-body form .form-group {
    margin-bottom: 30px;
}

.form-lapor .card .card-body #panduan-klafisikasi:hover {
    color : blue;
    text-decoration: underline;
    cursor: pointer;
}

.form-lapor .card .card-body label {
    font-weight: 400;
    line-height: 27px;
    color: #1E1E1E;
    font-size: 18px;
}
.form-lapor .card .card-body input {
    padding: 25px 20px 25px 20px;
}
.form-lapor .card .card-body select {
    height: 50px;
}
.form-lapor .card .card-body textarea {
    padding: 20px 20px 20px 20px;
}

/* WIZARD PROCES */
.wizard-prosess {
    margin-top: 150px;
    margin-bottom: 150px;
}

.tracking-laporan .container {
    padding-top: 100px;
    padding-bottom: 100px;
}

.tracking-laporan .container input{
    height: 55px;
    width: 602px;
    left: 340px;
    top: 127px;
    border-radius: 5px;
}

.informasi-laporan {
    margin-top: 130px;
    margin-bottom: 130px;
}

.informasi-laporan button {
    max-width: 300px;
    font-weight: bold;
    margin-top: 130px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.sosial-media {
    margin-top: 130px;
    margin-bottom: 130px;
}

/* USERS */

 /* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap */

/*  Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }